{% extends 'layout.html' %}

{% block content %}

<br>
<h1 style="font-size:2vw;border-left-width:1000;font-size:2vw;background-color:rgb(31, 30, 30);color: rgb(255, 255, 255);border-radius: 15px;padding: 5px;padding-left: 20px;"; right = 1000px;>Offer</h1>
<br>

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
{% endif %}

<form action="/sellForm/" method="post">
    {% csrf_token %}
    <div class = "form-group row">
        <label class = "col-1 col-form-label" ><h5>Unit :</h5></label>
        <div class = 'col-2'>
            <input type="text" class="form-control" name="unit" id="input_unit"  placeholder={{power}} required>
        </div>
        <label class = "col-1 col-form-label" for=""><h5>kWh</h5></label>
    </div><br>
    <div class = "form-group row">
        <label class = "col-1 col-form-label" ><h5>Price :</h5></label>
        <div class = 'col-2'>
            <input type="text" class="form-control" name="price" id="input_price"  required> 
        </div>
        <label class = "col-1 col-form-label" ><h5>THB</h5></label>
    </div><br>    
    <input type="submit" value="submit" class="btn btn-primary ">
</form>

<br>
<h2 align='left' style="font-size:2vw;background-color:rgb(31, 30, 30);color: rgb(255, 255, 255);border-radius: 15px;padding: 5px;padding-left: 20px;">Order status</h2>
<!-- <br>
<div >
  <canvas id="myChart" style="width:25px;height:25;"></canvas>
  <script type="text/javascript">
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Sold out', 'Selling'],
          datasets: [{
              label: 'Order status',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)'
                  // 'rgba(255, 206, 86, 0.2)',
                  // 'rgba(75, 192, 192, 0.2)',
                  // 'rgba(153, 102, 255, 0.2)',
                  // 'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)'
              //     'rgba(255, 206, 86, 1)',
              //     'rgba(75, 192, 192, 1)',
              //     'rgba(153, 102, 255, 1)',
              //     'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
  </script>
</div> -->
<br>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Energy</th>
        <th scope="col">Price</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
    {% for post in posts %}
      <tr>
        <th scope="row">{{ post.id }}</th>
        <td>{{ post.energy }}</td>
        <td>{{ post.price }}</td>
        <td>{{ post.timestamp }}</td>
        <td>{{ post.status }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}